.navbar {
	background-color: #fff;
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	height: 60px;
	width: 100%;
	z-index: 999;

	.navbar__items {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
		height: 100%;
		width: fit-content;
		// background-color: aqua;

		@media screen and (max-width: 768px) {
			display: none;
		}

		li {
			display: inline-block;
			margin: 0;
			padding: 0 28px;
			list-style: none;

			a {
				color: #000;
				display: inline-block;
				font-size: 24px;
				font-weight: 600;
				margin: 0 10px;
				// padding: 5px;
				text-decoration: none;
			}
		}
	}

	.navbar__mobile {
		@media screen and (min-width: 768px) {
			display: none;
		}

		h1 {
			font-size: 40px;
			font-weight: 600;
			font-family: "Oleo Script", cursive;
			margin: 0;
			padding: 0;
		}

		.navbar__mobile__menu {
			position: absolute;
			top: 15px;
			right: 15px;
			font-size: 30px;
		}

		.navbar__mobile__menu__items {
			position: absolute;
			top: 20;
			right: 0;
			height: 100vh;
			width: 70vw;
			background-color: #fff;
			// background-color: yellow;
			border-top: 1px solid black;
			border-radius: 25px 0 0 25px;
			display: flex;
			flex-direction: column;
			transition: all 0.5s ease-in-out;
			transform: translateX(100%);

			&.active {
				transform: translateX(0);
			}

			li {
				height: 30px;
				width: 70%;
				margin: 0 auto;
				padding: 30px;
				list-style: none;
				// background-color: aqua;

				a {
					color: #000;
					font-size: 24px;
					font-weight: 600;
					text-decoration: none;
				}
			}
		}
	}
}
